@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueLTGEO-75Bold.eot");
  src: url("/fonts/HelveticaNeueLTGEO-75Bold.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/HelveticaNeueLTGEO-75Bold.woff2") format("woff2"),
    url("/fonts/HelveticaNeueLTGEO-75Bold.woff") format("woff"),
    url("/fonts/HelveticaNeueLTGEO-75Bold.ttf") format("truetype"),
    url("/fonts/HelveticaNeueLTGEO-75Bold.svg#HelveticaNeueLTGEO-75Bold")
      format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueLTGEO-45Light.eot");
  src: url("/fonts/HelveticaNeueLTGEO-45Light.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/HelveticaNeueLTGEO-45Light.woff2") format("woff2"),
    url("/fonts/HelveticaNeueLTGEO-45Light.woff") format("woff"),
    url("/fonts/HelveticaNeueLTGEO-45Light.ttf") format("truetype"),
    url("/fonts/HelveticaNeueLTGEO-45Light.svg#HelveticaNeueLTGEO-45Light")
      format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueLTGEO-85Heavy.eot");
  src: url("/fonts/HelveticaNeueLTGEO-85Heavy.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/HelveticaNeueLTGEO-85Heavy.woff2") format("woff2"),
    url("/fonts/HelveticaNeueLTGEO-85Heavy.woff") format("woff"),
    url("/fonts/HelveticaNeueLTGEO-85Heavy.ttf") format("truetype"),
    url("/fonts/HelveticaNeueLTGEO-85Heavy.svg#HelveticaNeueLTGEO-85Heavy")
      format("svg");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueLTGEO-35Thin.eot");
  src: url("/fonts/HelveticaNeueLTGEO-35Thin.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/HelveticaNeueLTGEO-35Thin.woff2") format("woff2"),
    url("/fonts/HelveticaNeueLTGEO-35Thin.woff") format("woff"),
    url("/fonts/HelveticaNeueLTGEO-35Thin.ttf") format("truetype"),
    url("/fonts/HelveticaNeueLTGEO-35Thin.svg#HelveticaNeueLTGEO-35Thin")
      format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueLTGEO-55Roman.eot");
  src: url("/fonts/HelveticaNeueLTGEO-55Roman.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/HelveticaNeueLTGEO-55Roman.woff2") format("woff2"),
    url("/fonts/HelveticaNeueLTGEO-55Roman.woff") format("woff"),
    url("/fonts/HelveticaNeueLTGEO-55Roman.ttf") format("truetype"),
    url("/fonts/HelveticaNeueLTGEO-55Roman.svg#HelveticaNeueLTGEO-55Roman")
      format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueLTGEO-65Medium.eot");
  src: url("/fonts/HelveticaNeueLTGEO-65Medium.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/HelveticaNeueLTGEO-65Medium.woff2") format("woff2"),
    url("/fonts/HelveticaNeueLTGEO-65Medium.woff") format("woff"),
    url("/fonts/HelveticaNeueLTGEO-65Medium.ttf") format("truetype"),
    url("/fonts/HelveticaNeueLTGEO-65Medium.svg#HelveticaNeueLTGEO-65Medium")
      format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
